<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">

    <th:block th:each="pet : ${pets}">
        <div class="form-group">
            <label>
                <span th:text="${pet.name}"></span>
                <input type="checkbox" name="petIds" th:value="${pet.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>